*.suo
*.dll
*.pdb
*.cache
ClashOfClans/bin
ClashOfClans/obj/
.vs/ClashOfClans/v15/*.suo
ClashOfClans.Data/App_Data/
ClashOfClans/App_Data/
ClashOfClans/obj/Release/
ClashOfClans/node_modules/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets