<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f8f00c4e-0061-4b5b-89e1-e49c8d3defe0/resourcegroups/InYoFace/providers/Microsoft.Web/sites/ClashOfClans</ResourceId>
    <ResourceGroup>InYoFace</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://clashofclans.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>clashofclans.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ClashOfClans</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ClashOfClans</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ClashOfClans.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClashOfClans.Models.ApplicationDbContext, ClashOfClans" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClashOfClans.Data.MemberContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ClashOfClans.Data.MemberContext, ClashOfClans" MigrationConfiguration="ClashOfClans.Migrations.Configuration, ClashOfClans" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;Data Source=(LocalDb)\MSSQLLocalDB&quot;;AttachDbFilename=|DataDirectory|\aspnet-ClashOfClans-20170515052535.mdf;Initial Catalog=aspnet-ClashOfClans-20170515052535;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ClashOfClans-20170515052535.mdf;Initial Catalog=aspnet-ClashOfClans-20170515052535;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ClashOfClans.Data.MemberContext-Web.config Connection String">
      <ParameterValue>Server=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ClashOfClans.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:cocdatabase.database.windows.net,1433;Initial Catalog=ClashOfClans;Persist Security Info=False;User ID=ucalypse85;Password=Weedgood00;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ClashOfClans.Data.MemberContext" />
    <_ConnectionStringsToInsert Include="ClashOfClans.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>