
@{
    ViewBag.Title = "ThreeThrough6";
}
    <div class="col-lg-6">
        <h2 align="center">Suggestions on the beginning Townhalls</h2><br/>
        <p>When getting started, it is important to follow 2 main principles moving forward with the game</p>
        <ol>
            <li>DO NOT SPEND THE GREEN GEMS</li>
            <li>UPGRADE EVERYTHING THAT YOU CAN BEFORE UPGRADING YOUR TOWN HALL</li>
        </ol>
        <img src="~/Content/Images/th3.jpg" class="img-responsive" width="304" height="236" id="th3" />
    </div>
        <div class="jumbotron">
            <div class="container">
                <p class="text-danger">These are important thing to keep in mind that will give you the best possible chances of success.  If you have already spent green
                    gems during the tutorial and just in general getting started with the game don't fret, you will be ok.  Notice that you have only 2 
                    builders.  As you may have already guessed, that is not enough to really get much of anything done in the game.  The only currency you
                    can use to obtain additional builders is green gems, so save them up, as that is the only worthwhile thing to spend them on in the 
                    beginning of the game</p>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <p class="text-info">Another reason is that as you may have noticed already, the build times for the initial town halls is pretty low overall but trust me, they get 
                    much longer.  If YOU POSSESS NO PATIENCE YOU MAY WANT TO PICK ANOTHER GAME.  I can't stress this enough, getting into the habit of rushing
                    your upgrades and completing them with gems will only get much worse as time goes on.  It is definitely not a habit you want to get into off the bat
                </p>
            </div>
        </div>
<div class="jumbotron">
    <div class="container">
        <h2>General Overview on attacking</h2>
        <p>You start the game with a 3 day shielf. This means that, essentially, the multiplayer aspect is disabled. Other players in the world of COC cannot attack
            your base. When it runs out, you will begin to get attacked. I suggest not doing any multiplayer attacks during the beginning shield, and only doing the Goblin map, which
            is a single player aspect of the game and doesn't affect your shield at all. This will give you a chance to get the absolute basics of attacking down, which I will not be covering
            in this explanation. Another important thing to note: <mark>DO NOT BE DISCOURAGED IF EVERYBODY DESTROYS YOUR BASE.</mark> It is perfectly normal and practically expected that almost every
            attack by a player of a similar level in the 1st couple town halls will completely annihilate your base so just expect it. I will be covering some base design basics in a separate section
            to try to protect your resources the best you can
        </p>
        <h3>Farming Attacks</h3>
        <p>When your beginners shield runs out, you will be ready to start destroying opponents bases and it is important to keep some things in mind whilst doing this. Again these are suggestions out of my
            experience.</p>
        <ol>
            <li>Trophies mean absolutely nothing, you need not focus on obtaining them, you are attacking strictly for the money available</li>
            <li>You want to pick a base with a good amount of available loot (5000 of each for TH3, 20000 each for TH4, 50000 each for TH5, 100000 each TH6)</li>
        </ol>
        <p>As for troop composition, I usually find that a combination of giants, archers, and goblins work best for all 4 of these town hall levels. Giants are a tanking unit so you want to deploy them all at the same
            time and in the same spot, and then release your archers in an arc behind them, because they are weak and should not be placed where giants cannot protect them by absorbing enemy fire. Goblins should be saved for
            the end of the attack, and they are solely responsible for targeting resources, nothing more annoying than loading up an army full of giants only to destroy most of the base and all of the defenses and barely get any of the loot</p>
        <h3>War Attacks</h3>
        <p>Im assuming that if you are reading this you are in our boss, one of a kind clan. Part of being in a clan is the opportunity to participate in clan wars. Basically it consists of atleast 10 members, up to 45 going into battle against another
            clan matched similarly</p>
        <ol>
            Couple things to note about clan wars
            <li>If you are upgrading defenses, they will still be availableto defend your base in the war</li>
            <li>Always expect castle troops to be in the castle, without drawing them out and killing them, your attack will fail</li>
            <li>You are able to attack bases that have already been 3 starred with no consequence</li>
        </ol>
        <p>Using your war attacks in a very important part of the game, not only in this clan, but in basically any clan that you are gonna come across it is baked into their rules in some way shape or form. To a large extent they are just like regular attacks
            except that the goal will be to completely annihilate the opposing base, rather than going for money. The clan that wins the war is the one with the most stars achieved at it's conclusion.</p>
        <h4>Attack Strategy</h4>
        <p>For these lower town halls it is important to focus mainly on drawing out and killing the troops, as this will be an essential skill to learn for the duration of you playing the game</p>
        <p>See the video below</p>
    </div>
</div>
<div class="container">
    <h2>Our up and coming Stars...</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Exp Level</th>
        </tr>
    </table>
</div>
