
@{
    ViewBag.Title = "TownHall8";
}

<h2>TownHall8</h2>
<div class="container">
    <div class="jumbotron">
        <p>Town Hall 8 is a very important turning point in the game.  If you have rushed your base up until this point, this is 1 townhall that you must leave yourself in the 
            best possible position to get into townhall 9, where things definitely get difficult.  </p>
    </div>
</div>
<h3>Farming Strategy</h3>
<div class="container">
    <div class="jumbotron">
        <p>I use the exact same farming strategy as I did with town hall 7</p>
    </div>
</div>
<h3>War Strategies</h3>
<div class="container">
    <div class="jumbotron">
        <h2>Mass Hogs</h2>
        <p>This is probably my favorite attack for town hall 8, and in my opinion, the most effective.  The hogs have been buffed up a lot with the most recent updates.</p>
        <ul>
            <li>MUST draw troops out, if you are unsure about this concept or still shaky on it, refer to the drawing troops out section</li>
            <li>Consists of: 28 hogs, 20 archers, 10 wiz....3 Heal and 1 poison....CC hogs and poison</li>
            <li>After drawing the troops out, use 2 fingers to release the hogs in 2 different locations simultaenously at perpendicular sides of the base</li>
            <li>Dont spread them out in a line, as they will be too difficult to keep track of and heal properly</li>
            <li>DO NOT THROW ALL YOUR HEAL SPELLS OUT IMMEDIATELY - Remeber that the hogs have a lot of ground to cover, and a lot of defenses to take out</li>
            <li>After the hogs have done their thing for a minute, start sprinkling the wizards in behind the area that they have already taken out the defenses to help with clean up</li>
            <li>Drop your Barbarian King along with your wizards</li>
        </ul>
        <h2>GoWipe</h2>
        <p>This is a pretty outdated attack, although in my opinion it is still very effective against town hall 8's - THIS IS THE LAST TOWN HALL THAT THIS ATTACK IS TO BE USED</p>
        <ul>
            <li>Consists of: 2 golems, 2 pekka, 19 wiz, 6 wallbreakers 2 archers....1 Heal, 2 Rage, and a Poison...CC Pekka and poison</li>
            <li>You wanna begin the attack by dropping both golems, spaced generously apart, along 1 side of the base</li>
            <li>Drop your wizards in an arc behind each one</li>
            <li>Wall break BOTH golems into the base - If you are unsure see the wallbreaker guide</li>
            <li>When the castle troops come out, drop both poison on them to assist in their destruction</li>
            <li></li>
        </ul>
    </div>
</div>

