
@{
    ViewBag.Title = "TownHall9";
}

<h2>TownHall9</h2>
<div class="container">
    <div class="jumbotron">
        <p>Town Hall 9 is where the game starts to get difficult, because none of the previously used war strategies will work on town hall 9s.
            This is where the less serious players will probably cease to have fun with the game lol, however making sure you completely maxed your base
        at townhall 8 will set you up for the best possible chance of success here. Enter archer queen..../p>
    </div> 
    <div class="jumbotron">
        <h2>Upgrade Strategy</h2>
        <p>The further along in the game that you get, how you upgrade your base will begin to matter.  The general rule of thumb is that you want to be able to 3 star your base,
            which consequently means doing offense 1st.  Offense includes: Army Camps, Spell Factory, Clan Castle, Laboratory upgrades, and heroes.</p>
        <p>Atleast in this clan, I am pretty forgiving if your base has been rushed up to this point, but incorrectly upgraded townhall 9s can spell disaster for war matchups.
            So, as you may have noticed, almost all of the offensive upgrades cost elixir, so what are we to do with our spare gold??? You want to upgrade your existing defenses(wall included) with your spare gold.
        I would suggest atleast getting your army camps, cc, and spell factory upgraded before even thinking about dropping xbows.</p>
    </div> 
    <div class="jumbotron">
        <h2>Farming Strategies</h2>
        <p>Newer players may have a hard time adjusting to these more difficult bases at 1st, so I see a lot of people keeping a war army for farming...THIS IS A TERRIBLE IDEA. I would like to remind everybody
            that trophies don't mean anything, the only thing that matters is loot.  If your trophies get too high, consider dropping them, personally I think crystal 3 is a good place to hang out until you get your base almost maxed.
            I use 2 Strategies for farming:</p>
        <ul>New to Town Hall 9, I used the same strategy that I did at Town Hall 8, filling in extra camp space with archers or goblins</ul>
        <ul>After I got giants, archers, and goblins upgraded => 50 goblins, 1 healer, 10 giants, 126 archers 2 rage 2 heal 1 jump</ul>
        <a href="https://youtu.be/WO3_eo13Tdk">See example here</a><br />
    </div>
    <div class="jumbotron">
        <h2>War Strategies</h2>
        <p>There are 3 attacks that I believe will 3 star any Town Hall 9 if executed properly, they are the Lavaloon attack, GOHO(Golem and Hogs), and Queen walk with valks. Troops for all must be max for th9</p>
        <h3>Lavaloon</h3>
        <p>Your army should consist of:</p>
        <ul>3 lavahounds(if xbows are pointed up, otherwise only go with 2)</ul>
        <ul>25 balloons</ul>
        <ul>5 archers</ul>
        <ul>2 Lightning, 1 earthquake, 2 rage, and a donated haste and lavahound</ul>
        <p>2 things to look at when determining attack is troop draw and archer queen position. If the archer queen is exposed, take her out with your king</p>
        <p>You want to lightning out air defense that is closest to your point of entry to drawing troops out</p>
        <p>Send 2 lavahounds at 2 of the remaining air defenses with balloons divided equally among them</p>
        <p>Drop balloons 1st, then lavahounds after, try and send the max cc hound at air defense that is by the enemy queen and drop a rage on it as it is bursting</p><br/>
        <h3>GOHO</h3>
        <p>Your army should consist of:</p>
        <ul>1 golem</ul>
        <ul>30 Hogs</ul>
        <ul>8 wizards</ul>
        <ul>4 wallbreakers</ul>
        <ul>3 Heal, 1 jump, 1 poison, CC Golem and poison</ul>
        <p>Your golems, wizards and heroes will serve as a "kill squad", the goals of which is to take out 1 or both enemy heroes, kill enemy cc, and set off big bombs</p>
        <p>Wall break into outer layer of base and then use the jump spell to allow kill squad access to the core of the base</p>
        <p>Surgically deploy your hogs along the other side of the base dropping heals as you see fit</p>
    </div>
</div>


