<div class="row">
    <div class="col-xs-12">
        <member-app>
            Loading Angular
        </member-app>
    </div>
</div>


    @section scripts{
        <!-- Polyfill(s) for older browsers -->
        <script src="/node_modules/core-js/client/shim.min.js"></script>
        <script src="/node_modules/zone.js/dist/zone.js"></script>
        <script src="/node_modules/systemjs/dist/system.src.js"></script>
        <script src="/src/systemjs.config.js"></script>
        <script>
            System.import('main.js').catch(function(err) { console.error(err); });
        </script>
    }



