@model ClashOfClans.Models.ClanListViewModel
@{
    ViewBag.Title = "In Yo Face - Best Clan on Earth";
}

<div class="jumbotron" id="banner">
    <img src="~/Content/Images/homeBanner.jpg" id="homePicture"/>
    <h1>In Yo Face Homepage</h1>
    <h2>#8UJGPROJ</h2>
    <h3><i>EST. 2015</i></h3>
    <p class="text-primary">This site is designed to keep track of members, further explain clan rules and expectations, and provide training videos on various attacks</p>

</div>

<div class="col-md-6">
    <div class="container">
        <div class="jumbotron jumbo">
            <h3>Who are we looking for?</h3>
            <h4>Understand that we are a war clan</h4>
            <p>We are accepting members of any town hall level. We prefer if your base is not dumbass rushed, unless it is engineered then that is fine.</p>
            <ul><em>MUST USE YOUR WAR ATTACKS</em></ul>
            <ul>Must speak english - cant deal with these language barriers</ul>
            <ul>If your flag is excessively red, and you do not respond in the clan chat, you will be kicked over a certain amount of time</ul>
            <ul>Any skill level is welcome, we dont mind some coaching, but you must be open to feedback on your attacks and willing to try new ideas</ul>
        </div> 
    </div>
</div>
<button id="updateButton", onclick="updateMembers()">Update Clan List</button>
<div class="col-md-6" id="memberTable">
    <table class="table table-inverse">
        <thead>
        <tr><th>Name</th><th>Rank</th></tr>
        <br /><br />
        </thead>
        @foreach (var member in Model.Members)
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.MemberId</td>
            </tr>
        }
    </table>
</div>
<hr/>
