@{
    ViewBag.Title = "In Yo Face - Best Clan on Earth";
}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Sidebar menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Coc Overview</a></li>
                            <li><a href="#">Town Hall 3-6</a></li>
                            <li><a href="#">Town Hall 7</a></li>
                            <li><a href="#">Town Hall 8</a></li>
                            <li><a href="#">Town Hall 9</a></li>
                            <li><a href="#">Town Hall 10</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" color="red">
    <h1>In Yo Face Homepage</h1>
    <h2>#8UJGPROJ</h2>
    <p class="text-primary">This site is designed to keep track of members, further explain clan rules and expectations, and provide training videos on various attacks</p>
   
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Who are we looking for?</h2>
        <h3>Understand that we are a war clan</h3>
        <p>We are accepting members of any town hall level. We prefer if your base is not dumbass rushed, unless it is engineered than that is fine.</p>
        <ul>MUST USE YOUR WAR ATTACKS</ul>
        <ul>Must speak english - cant deal with these language barriers</ul>
        <ul>If your flag is excessively red, and you do not respond in the clan chat, you will be kicked over a certain amount of time</ul>
        <ul>Any skill level is welcome, we dont mind some coaching, but you must be open to feedback on your attacks and willing to try new ideas</ul>
    </div> 
</div>