@model List<ClashOfClans.Models.TutorialViewModel>
@{
    ViewBag.Title = "Tutorials";
}
<body>
<h2>Tutorials</h2>
    @{ var videoList = Model;}
<div class="col-md-12" id="memberTable" style="background-color:red;">
    <table class="table table-inverse">
        <thead>
            <tr><th>Name</th><th>For Town Hall...</th><th></th></tr>
            <br />
            <br />
        </thead>
        @foreach (var video in videoList)
        {
            <tr>
                <td><a href="@video.URL">@video.VideoName</a></td>
                <td>@video.Description</td>
                <td><button class="btn-dark" id="deleteButton" name="deleteButton" onclick="deleteVideo('@video.URL')" style="height: 30px; width:100px;">Remove</button></td>
            </tr>
        }
    </table>
    <span id="newVideos"></span><span id="description"></span>
    <button class="btn-primary" id="videoButton">Add Video</button>
</div>
<div id="VideoAdd" class="modal">
    <div class="modal-content">
        <span class="close" id="closeButton">&times;</span>
        <div class="form-group">
            <input type="text" id="videoLink" name="videoLink" class="form-control" placeholder="Video Link" />
            <input type="text" id="videoLinkLabel" name="videoLinkLabel" class="form-control" placeholder="Text to Display on Link" />
            <textarea id="videoDescription" style="height: 50px;" class="form-control" name="videoDescription" placeholder="Enter Description"></textarea>
            <button class="btn-primary" id="submitButton">Post</button>
        </div>
    </div>
</div>
</body>
<script src="~/Scripts/Tutorials/Tutorials.js"></script>