
@{
    ViewBag.Title = "Tutorials";
}

<h2>Tutorials</h2>
<div class="jumbotron">
<a href="https://youtu.be/lUCdBPDnCc8">LavaLoon Attack Strategy - Dada - TH9</a><br/>
    <a href="https://youtu.be/4zVmrvYnhsg">AQ Walk With Bowlers - Ekmurf - TH9</a><br/>
    <a href="https://youtu.be/bW5ro0PAqjY">Traditional Valk Attack - Dada - TH9</a><br/>
<a href="https://youtu.be/gfVRIUFcFJk">Hogs - Dada - TH8</a><br/>
<a href="https://youtu.be/S_o4c_Y31Qg">Inferno Tower Intro - Dada - TH9/TH10</a><br/>
<a href="https://youtu.be/guza35tj3Mg">Lower Level Guide - Dada - TH4-6</a><br/>
</div>