@model CurrentWar
@{
    ViewBag.Title = "War Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WarRoom</h2>
<body>
<div class="jumbotron">
    @if (Model.State == "inWar")
    {
        <h2 id="warMessage">Time Until War Ends</h2>
    }
    else
    {
        <h2>Time Until War Begins</h2>
    }
    <div class="container" id="renderTable"></div>
</div>
<div id="popupContact" class="col-md-2">
    <form action="/Home/SendWarPlan" id="form" method="post" name="form">
        <h2>War Plan</h2>
        <hr>
        <input id="name" name="name" placeholder="Name" type="text">
        <textarea id="msg" name="message" placeholder="Message"></textarea>
        <a href="javascript:%20check_empty()" id="submit">Send</a>
    </form>
</div>
    <div id="displayWarPlan" class="col-md-2"></div>
</body>
<script>
    $(function () {
        $("#popupContact").hide();
        $.getJSON('/Home/ConvertedDateTime')
            .done(function (response) {
                var countDownDate = new Date(response).getTime();
                // Update the count down every 1 second
                var x = setInterval(function() {

                        var now = new Date().getTime();

                        var distance = countDownDate - now;

                        var seconds = Math.floor( (distance/1000) % 60 );
                        var minutes = Math.floor( (distance/1000/60) % 60 );
                        var hours = Math.floor( (distance/(1000*60*60)));

                        $("#demo").html(
                            (hours + 8) + "h " + minutes + "m " + seconds + "s ");

                        if (distance < 0) {
                            clearInterval(x);
                            $("#renderTable").html("War Over");
                        }
                    },
                    1000);
            });
    });
</script>

